.info-primary {
  background-color: #1cc7c1;
}
.info-dark {
  background-color: #3a4256;
}
.info-container {
  height: 100px;
  padding: 30px;
}
.font-icon {
  font-size: 3em;
}
.info-card {
  padding: 0px 5px;
}
