.make-appointment{
  background-image: url(../../../images/chair-Bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 420px;
  background-position:center;

}
.make-appointment::before{
  content:'';
  display:block;
  width:100%;
  height: 100%;
  position:absolute;
  background:#3A4256;
  opacity: .6;
  top: 0;
}
.make-appointment img{
  height: 550px;
  transform:translateY(-130px);
}